node_modules
docs/.vitepress/cache
docs/.vitepress/dist
docs/.vitepress/.temp
.vite
.DS_Store
.superpowers/
packages/*/dist
demos/*/dist
.vale/
dist
.wrangler
docs/package/crawler
docs/package/dev
docs/package/theme
docs/package/data-table-d1
